.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-primary
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#535be2), to(#7d84eb));
      background-image: -webkit-linear-gradient(top, #535be2 0%, #7d84eb 100%);
      background-image: -moz- oldlinear-gradient(top, #535be2 0%, #7d84eb 100%);
      background-image:      -o-linear-gradient(top, #535be2 0%, #7d84eb 100%);
      background-image:         linear-gradient(to bottom, #535be2 0%, #7d84eb 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-success
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#1ec481), to(#48d7a4));
      background-image: -webkit-linear-gradient(top, #1ec481 0%, #48d7a4 100%);
      background-image: -moz- oldlinear-gradient(top, #1ec481 0%, #48d7a4 100%);
      background-image:      -o-linear-gradient(top, #1ec481 0%, #48d7a4 100%);
      background-image:         linear-gradient(to bottom, #1ec481 0%, #48d7a4 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-info
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#168dee), to(#40adf4));
      background-image: -webkit-linear-gradient(top, #168dee 0%, #40adf4 100%);
      background-image: -moz- oldlinear-gradient(top, #168dee 0%, #40adf4 100%);
      background-image:      -o-linear-gradient(top, #168dee 0%, #40adf4 100%);
      background-image:         linear-gradient(to bottom, #168dee 0%, #40adf4 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-warning
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7e39), to(#ffa264));
      background-image: -webkit-linear-gradient(top, #ff7e39 0%, #ffa264 100%);
      background-image: -moz- oldlinear-gradient(top, #ff7e39 0%, #ffa264 100%);
      background-image:      -o-linear-gradient(top, #ff7e39 0%, #ffa264 100%);
      background-image:         linear-gradient(to bottom, #ff7e39 0%, #ffa264 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-danger
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ff394f), to(#ff6479));
      background-image: -webkit-linear-gradient(top, #ff394f 0%, #ff6479 100%);
      background-image: -moz- oldlinear-gradient(top, #ff394f 0%, #ff6479 100%);
      background-image:      -o-linear-gradient(top, #ff394f 0%, #ff6479 100%);
      background-image:         linear-gradient(to bottom, #ff394f 0%, #ff6479 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-red,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-red
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#d32f2f), to(#ef5350));
      background-image: -webkit-linear-gradient(top, #d32f2f 0%, #ef5350 100%);
      background-image: -moz- oldlinear-gradient(top, #d32f2f 0%, #ef5350 100%);
      background-image:      -o-linear-gradient(top, #d32f2f 0%, #ef5350 100%);
      background-image:         linear-gradient(to bottom, #d32f2f 0%, #ef5350 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-pink,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-pink
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#c2185b), to(#ec407a));
      background-image: -webkit-linear-gradient(top, #c2185b 0%, #ec407a 100%);
      background-image: -moz- oldlinear-gradient(top, #c2185b 0%, #ec407a 100%);
      background-image:      -o-linear-gradient(top, #c2185b 0%, #ec407a 100%);
      background-image:         linear-gradient(to bottom, #c2185b 0%, #ec407a 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-purple,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-purple
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#7b1fa2), to(#ab47bc));
      background-image: -webkit-linear-gradient(top, #7b1fa2 0%, #ab47bc 100%);
      background-image: -moz- oldlinear-gradient(top, #7b1fa2 0%, #ab47bc 100%);
      background-image:      -o-linear-gradient(top, #7b1fa2 0%, #ab47bc 100%);
      background-image:         linear-gradient(to bottom, #7b1fa2 0%, #ab47bc 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#1976d2), to(#42a5f5));
      background-image: -webkit-linear-gradient(top, #1976d2 0%, #42a5f5 100%);
      background-image: -moz- oldlinear-gradient(top, #1976d2 0%, #42a5f5 100%);
      background-image:      -o-linear-gradient(top, #1976d2 0%, #42a5f5 100%);
      background-image:         linear-gradient(to bottom, #1976d2 0%, #42a5f5 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-cyan,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-cyan
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#0097a7), to(#26c6da));
      background-image: -webkit-linear-gradient(top, #0097a7 0%, #26c6da 100%);
      background-image: -moz- oldlinear-gradient(top, #0097a7 0%, #26c6da 100%);
      background-image:      -o-linear-gradient(top, #0097a7 0%, #26c6da 100%);
      background-image:         linear-gradient(to bottom, #0097a7 0%, #26c6da 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-teal,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-teal
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#00796b), to(#26a69a));
      background-image: -webkit-linear-gradient(top, #00796b 0%, #26a69a 100%);
      background-image: -moz- oldlinear-gradient(top, #00796b 0%, #26a69a 100%);
      background-image:      -o-linear-gradient(top, #00796b 0%, #26a69a 100%);
      background-image:         linear-gradient(to bottom, #00796b 0%, #26a69a 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-yellow,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-yellow
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fbc02d), to(#ffee58));
      background-image: -webkit-linear-gradient(top, #fbc02d 0%, #ffee58 100%);
      background-image: -moz- oldlinear-gradient(top, #fbc02d 0%, #ffee58 100%);
      background-image:      -o-linear-gradient(top, #fbc02d 0%, #ffee58 100%);
      background-image:         linear-gradient(to bottom, #fbc02d 0%, #ffee58 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-amber,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-amber
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa000), to(#ffca28));
      background-image: -webkit-linear-gradient(top, #ffa000 0%, #ffca28 100%);
      background-image: -moz- oldlinear-gradient(top, #ffa000 0%, #ffca28 100%);
      background-image:      -o-linear-gradient(top, #ffa000 0%, #ffca28 100%);
      background-image:         linear-gradient(to bottom, #ffa000 0%, #ffca28 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue-grey,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue-grey
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#455a64), to(#78909c));
      background-image: -webkit-linear-gradient(top, #455a64 0%, #78909c 100%);
      background-image: -moz- oldlinear-gradient(top, #455a64 0%, #78909c 100%);
      background-image:      -o-linear-gradient(top, #455a64 0%, #78909c 100%);
      background-image:         linear-gradient(to bottom, #455a64 0%, #78909c 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-grey-blue,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-grey-blue
{
      background-image: -webkit-gradient(linear, left top, left bottom, from(#404e67), to(#78909c));
      background-image: -webkit-linear-gradient(top, #404e67 0%, #78909c 100%);
      background-image: -moz- oldlinear-gradient(top, #404e67 0%, #78909c 100%);
      background-image:      -o-linear-gradient(top, #404e67 0%, #78909c 100%);
      background-image:         linear-gradient(to bottom, #404e67 0%, #78909c 100%);
    background-repeat: repeat-x;
}
