.tooltip-bg-white .tooltip-inner
{
    background-color: #fff;
}
.tooltip-bg-white .tooltip-inner:before
{
    border-top-color: #fff !important;
}

.tooltip-text-white .tooltip-inner
{
    color: #fff;
}

.tooltip-bg-black .tooltip-inner
{
    background-color: #000;
}
.tooltip-bg-black .tooltip-inner:before
{
    border-top-color: #000 !important;
}

.tooltip-text-black .tooltip-inner
{
    color: #000;
}

.tooltip-bg-primary .tooltip-inner
{
    background-color: #1b65d3;
}
.tooltip-bg-primary .tooltip-inner:before
{
    border-top-color: #1b65d3 !important;
}

.tooltip-text-primary .tooltip-inner
{
    color: #1b65d3;
}

.tooltip-bg-success .tooltip-inner
{
    background-color: #28d094;
}
.tooltip-bg-success .tooltip-inner:before
{
    border-top-color: #28d094 !important;
}

.tooltip-text-success .tooltip-inner
{
    color: #28d094;
}

.tooltip-bg-info .tooltip-inner
{
    background-color: #1e9ff2;
}
.tooltip-bg-info .tooltip-inner:before
{
    border-top-color: #1e9ff2 !important;
}

.tooltip-text-info .tooltip-inner
{
    color: #1e9ff2;
}

.tooltip-bg-warning .tooltip-inner
{
    background-color: #ff9149;
}
.tooltip-bg-warning .tooltip-inner:before
{
    border-top-color: #ff9149 !important;
}

.tooltip-text-warning .tooltip-inner
{
    color: #ff9149;
}

.tooltip-bg-danger .tooltip-inner
{
    background-color: #ff4961;
}
.tooltip-bg-danger .tooltip-inner:before
{
    border-top-color: #ff4961 !important;
}

.tooltip-text-danger .tooltip-inner
{
    color: #ff4961;
}

.tooltip-bg-red .tooltip-inner
{
    background-color: #f44336;
}
.tooltip-bg-red .tooltip-inner:before
{
    border-top-color: #f44336 !important;
}

.tooltip-text-red .tooltip-inner
{
    color: #f44336;
}

.tooltip-bg-pink .tooltip-inner
{
    background-color: #e91e63;
}
.tooltip-bg-pink .tooltip-inner:before
{
    border-top-color: #e91e63 !important;
}

.tooltip-text-pink .tooltip-inner
{
    color: #e91e63;
}

.tooltip-bg-purple .tooltip-inner
{
    background-color: #9c27b0;
}
.tooltip-bg-purple .tooltip-inner:before
{
    border-top-color: #9c27b0 !important;
}

.tooltip-text-purple .tooltip-inner
{
    color: #9c27b0;
}

.tooltip-bg-blue .tooltip-inner
{
    background-color: #2196f3;
}
.tooltip-bg-blue .tooltip-inner:before
{
    border-top-color: #2196f3 !important;
}

.tooltip-text-blue .tooltip-inner
{
    color: #2196f3;
}

.tooltip-bg-cyan .tooltip-inner
{
    background-color: #00bcd4;
}
.tooltip-bg-cyan .tooltip-inner:before
{
    border-top-color: #00bcd4 !important;
}

.tooltip-text-cyan .tooltip-inner
{
    color: #00bcd4;
}

.tooltip-bg-teal .tooltip-inner
{
    background-color: #009688;
}
.tooltip-bg-teal .tooltip-inner:before
{
    border-top-color: #009688 !important;
}

.tooltip-text-teal .tooltip-inner
{
    color: #009688;
}

.tooltip-bg-yellow .tooltip-inner
{
    background-color: #ffeb3b;
}
.tooltip-bg-yellow .tooltip-inner:before
{
    border-top-color: #ffeb3b !important;
}

.tooltip-text-yellow .tooltip-inner
{
    color: #ffeb3b;
}

.tooltip-bg-amber .tooltip-inner
{
    background-color: #ffc107;
}
.tooltip-bg-amber .tooltip-inner:before
{
    border-top-color: #ffc107 !important;
}

.tooltip-text-amber .tooltip-inner
{
    color: #ffc107;
}

.tooltip-bg-blue-grey .tooltip-inner
{
    background-color: #607d8b;
}
.tooltip-bg-blue-grey .tooltip-inner:before
{
    border-top-color: #607d8b !important;
}

.tooltip-text-blue-grey .tooltip-inner
{
    color: #607d8b;
}

.tooltip-bg-grey-blue .tooltip-inner
{
    background-color: #1b2942;
}
.tooltip-bg-grey-blue .tooltip-inner:before
{
    border-top-color: #1b2942 !important;
}

.tooltip-text-grey-blue .tooltip-inner
{
    color: #1b2942;
}
