/* --------------------------------
Horizontal Timeline
-------------------------------- */
@-webkit-keyframes 'cd-enter-right'
{
    0%
    {
        -webkit-transform: translateX(100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%); 

        opacity: 1;
    }
}

@-moz-keyframes 'cd-enter-right'
{
    0%
    {
        -moz-transform: translateX(100%); 

        opacity: 0;
    }
    100%
    {
        -moz-transform: translateX(0%); 

        opacity: 1;
    }
}

@-o-keyframes 'cd-enter-right'
{
    0%
    {
        -o-transform: translateX(100%);
           transform: translateX(100%); 

        opacity: 0;
    }
    100%
    {
        -o-transform: translateX(0%);
           transform: translateX(0%); 

        opacity: 1;
    }
}

@keyframes 'cd-enter-right'
{
    0%
    {
        -webkit-transform: translateX(100%);
           -moz-transform: translateX(100%);
             -o-transform: translateX(100%);
                transform: translateX(100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%);
           -moz-transform: translateX(0%);
             -o-transform: translateX(0%);
                transform: translateX(0%); 

        opacity: 1;
    }
}

@-webkit-keyframes 'cd-enter-left'
{
    0%
    {
        -webkit-transform: translateX(-100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%); 

        opacity: 1;
    }
}

@-moz-keyframes 'cd-enter-left'
{
    0%
    {
        -moz-transform: translateX(-100%); 

        opacity: 0;
    }
    100%
    {
        -moz-transform: translateX(0%); 

        opacity: 1;
    }
}

@-o-keyframes 'cd-enter-left'
{
    0%
    {
        -o-transform: translateX(-100%);
           transform: translateX(-100%); 

        opacity: 0;
    }
    100%
    {
        -o-transform: translateX(0%);
           transform: translateX(0%); 

        opacity: 1;
    }
}

@keyframes 'cd-enter-left'
{
    0%
    {
        -webkit-transform: translateX(-100%);
           -moz-transform: translateX(-100%);
             -o-transform: translateX(-100%);
                transform: translateX(-100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%);
           -moz-transform: translateX(0%);
             -o-transform: translateX(0%);
                transform: translateX(0%); 

        opacity: 1;
    }
}

.cd-horizontal-timeline
{
    margin: 2em auto;

    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s; 

    opacity: 0;
}
.cd-horizontal-timeline ol,
.cd-horizontal-timeline ul
{
    list-style: none;
}
.cd-horizontal-timeline::before
{
    display: none; 

    content: 'mobile';
}
.cd-horizontal-timeline .timeline
{
    position: relative;

    width: 90%;
    max-width: 800px;
    height: 100px;
    margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper
{
    position: relative;

    overflow: hidden; 

    height: 100%;
    margin: 0 40px;
}
.cd-horizontal-timeline .events-wrapper::after
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0; 

    width: 20px;
    height: 100%;

    content: '';
}
.cd-horizontal-timeline .events-wrapper::before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0; 

    width: 20px;
    height: 100%;

    content: '';
}
.cd-horizontal-timeline .events
{
    position: absolute;
    z-index: 1;
    top: 39px;
    left: 0;

    height: 2px;

    -webkit-transition: -webkit-transform .4s;
       -moz-transition:         transform .4s, -moz-transform .4s;
         -o-transition:      -o-transform .4s;
            transition: -webkit-transform .4s;
            transition:         transform .4s;
            transition:         transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s; 

    background: #dfdfdf;
}
.cd-horizontal-timeline .events a
{
    font-size: 1.3rem;

    position: absolute;
    z-index: 2;
    bottom: 0;

    padding-bottom: 15px;

    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0); 
    text-align: center;

    color: #383838;
}
.cd-horizontal-timeline .events a::after
{
    position: absolute;
    right: auto;
    bottom: -5px;
    left: 50%;

    width: 12px;
    height: 12px;

    content: '';
    -webkit-transition: background-color .3s, border-color .3s;
       -moz-transition: background-color .3s, border-color .3s;
         -o-transition: background-color .3s, border-color .3s;
            transition: background-color .3s, border-color .3s; 
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);

    border: 2px solid #dfdfdf;
    border-radius: 50%;
    background-color: #f8f8f8;
}
.cd-horizontal-timeline .events a.selected
{
    pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after
{
    border-color: #1b65d3; 
    background-color: #1b65d3;
}
.cd-horizontal-timeline .events a.older-event::after
{
    border-color: #1b65d3;
}
.cd-horizontal-timeline .filling-line
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform .3s;
       -moz-transition:         transform .3s, -moz-transform .3s;
         -o-transition:      -o-transform .3s;
            transition: -webkit-transform .3s;
            transition:         transform .3s;
            transition:         transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; 
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
         -o-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left center;
       -moz-transform-origin: left center;
        -ms-transform-origin: left center;
         -o-transform-origin: left center;
            transform-origin: left center;

    background-color: #1b65d3;
}
.cd-horizontal-timeline .events-content
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 2em 0;

    -webkit-transition: height .4s;
       -moz-transition: height .4s;
         -o-transition: height .4s;
            transition: height .4s;
}
.cd-horizontal-timeline .events-content li
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0 5%;

    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-animation-duration: .4s;
       -moz-animation-duration: .4s;
         -o-animation-duration: .4s;
            animation-duration: .4s;
    -webkit-animation-timing-function: ease-in-out;
       -moz-animation-timing-function: ease-in-out;
         -o-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; 

    opacity: 0;
}
.cd-horizontal-timeline .events-content li > *
{
    max-width: 800px;
    margin: 0 auto;
}
.cd-horizontal-timeline .events-content li.selected
{
    position: relative;
    z-index: 2;

    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); 

    opacity: 1;
}
.cd-horizontal-timeline .events-content li.enter-right
{
    -webkit-animation-name: cd-enter-right;
       -moz-animation-name: cd-enter-right;
         -o-animation-name: cd-enter-right;
            animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.leave-right
{
    -webkit-animation-name: cd-enter-right;
       -moz-animation-name: cd-enter-right;
         -o-animation-name: cd-enter-right;
            animation-name: cd-enter-right;
    animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li.enter-left
{
    -webkit-animation-name: cd-enter-left;
       -moz-animation-name: cd-enter-left;
         -o-animation-name: cd-enter-left;
            animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-left
{
    -webkit-animation-name: cd-enter-left;
       -moz-animation-name: cd-enter-left;
         -o-animation-name: cd-enter-left;
            animation-name: cd-enter-left;
    animation-direction: reverse;
}

.cd-horizontal-timeline.loaded
{
    opacity: 1;
}

.no-touch .cd-horizontal-timeline .events a:hover::after
{
    border-color: #1b65d3; 
    background-color: #1b65d3;
}

.no-touch .cd-timeline-navigation a:hover
{
    border-color: #1b65d3;
}

.no-touch .cd-timeline-navigation a.inactive:hover
{
    border-color: #dfdfdf;
}

.cd-timeline-navigation a
{
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;

    overflow: hidden;

    width: 34px;
    height: 34px;

    -webkit-transition: border-color .3s;
       -moz-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s; 
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    white-space: nowrap;
    text-indent: 100%;

    color: transparent;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
}
.cd-timeline-navigation a::after
{
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;

    width: 16px;
    height: 16px;

    content: '';
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);

    background: url(../../images/svg/cd-arrow.svg) no-repeat 0 0;
}

.cd-timeline-navigation a.prev
{
    left: 0;

    -webkit-transform: translateY(-50%) rotate(180deg);
       -moz-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
         -o-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next
{
    right: 0;
}

.cd-timeline-navigation a.inactive
{
    cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after
{
    background-position: 0 -16px;
}

@media only screen and (min-width: 1100px)
{
    .cd-horizontal-timeline::before
    {
        content: 'desktop';
    }
}

@media only screen and (min-width: 768px)
{
    .cd-horizontal-timeline .events-content h2
    {
        font-size: 4rem;
        font-weight: 800;
    }
    .cd-horizontal-timeline .events-content em
    {
        font-size: 1.5rem;
    }
}

/* Timeline */
.timeline
{
    position: relative;

    display: block;

    margin: 0;
    padding: 10px 0;

    list-style: none;
}
.timeline:after
{
    display: table;
    clear: both; 

    content: ' ';
}
.timeline:before
{
    display: table; 

    content: ' ';
}
.timeline > li
{
    list-style: none;
}
.timeline > li:nth-child(even)
{
    float: left;
    clear: left;
}
.timeline > li:nth-child(odd)
{
    float: right;
    clear: right;
}
.timeline .media
{
    font-size: 13px; 

    border-bottom: 1px solid #eee;
}
.timeline .media p
{
    font-size: 13px;
}
.timeline .media:last-child
{
    border-bottom: 0;
}
