#account-register .card-account-left
{
    border-radius: 0 5px 5px 0; 
      background: -webkit-gradient(linear, right top, left top, from(#266db9), to(#153b71));
      background: -webkit-linear-gradient(right, #266db9, #153b71);
      background: -moz- oldlinear-gradient(right, #266db9, #153b71);
      background:      -o-linear-gradient(right, #266db9, #153b71);
      background:         linear-gradient(-90deg, #266db9, #153b71);
}
#account-register .card-account-left .card-account-img
{
    position: relative;
    top: -webkit-calc(200px - 125px);
    top:    -moz-calc(200px - 125px);
    top:         calc(200px - 125px);
}

#account-register .card-account-right
{
    border-radius: 5px 0 0 5px;
}
