.crypto-circle
{
    position: absolute;
    top: 0;
    right: 0;

    width: 96px;
    height: 96px;

    border-radius: 50%; 
    background-color: #f6f6f9;
}
.crypto-circle i
{
    font-size: 2.5rem !important;

    position: absolute;
    top: 30px;
    right: 30px;
}
.crypto-circle i.cc
{
    top: 20px;
}
