html
{
    font-size: 14px;

    height: 100%;
}
html body
{
    height: 100%;

    background-color: #f4f5fa;

    direction: rtl;
}
html body.fixed-navbar
{
    padding-top: 5rem;
}
html body a
{
    color: #1b65d3;
}
html body a:hover
{
    color: #154fa6;
}
html body .content
{
    position: relative;

    min-height: -webkit-calc(100% - 32px);
    min-height:    -moz-calc(100% - 32px);
    min-height:         calc(100% - 32px); 
    padding: 0;

    -webkit-transition: 300ms ease all;
       -moz-transition: 300ms ease all;
         -o-transition: 300ms ease all;
            transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}
html body .content.app-content
{
    overflow: hidden;
}
html body .content .content-wrapper
{
    padding: 2.2rem;
}
html body .content .content-wrapper .content-header-title
{
    font-weight: 500;

    color: #464855;
}
html body .la
{
    font-size: 1.4rem;
}
html body[data-col='1-column']:not(.vertical-content-menu) .content,
html body[data-col='1-column']:not(.vertical-content-menu) .footer
{
    margin-right: 0 !important;
}
html body[data-col='1-column'].horizontal-layout .content,
html body[data-col='1-column'].horizontal-layout .footer
{
    margin: 0 auto !important;
}
html body[data-col='1-column'].vertical-content-menu .content-body
{
    margin-right: 0 !important;
}
html body.boxed-layout
{
    padding-right: 0;
    padding-left: 0;
}
html body.bg-full-screen-image
{
    background: url(../../app-assets/images/backgrounds/bg-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
            background-size: cover;
}
html body .pace .pace-progress
{
    background: #1b65d3;
}

/*
* Blank page
*/
.blank-page .content-wrapper
{
    padding: 0 !important;
}
.blank-page .content-wrapper .flexbox-container
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100vh; 

    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

.app-content.center-layout
{
    overflow: hidden;
}

@media (max-width: 767.98px)
{
    html body .content .content-wrapper
    {
        padding: 1rem;
    }
    html body footer
    {
        text-align: center;
    }
}

/*
* Col 3 layout for detached and general type
*/
@media (min-width: 992px)
{
    body .content-right
    {
        float: left; 

        width: -webkit-calc(100% - 300px);
        width:    -moz-calc(100% - 300px);
        width:         calc(100% - 300px);
    }
    body .content-left
    {
        float: right; 

        width: -webkit-calc(100% - 300px);
        width:    -moz-calc(100% - 300px);
        width:         calc(100% - 300px);
    }
    body .content-detached
    {
        width: 100%;
    }
    body .content-detached.content-right
    {
        float: left;

        margin-right: -300px;
    }
    body .content-detached.content-right .content-body
    {
        margin-right: 320px;
    }
    body .content-detached.content-left
    {
        float: right;

        margin-left: -300px;
    }
    body .content-detached.content-left .content-body
    {
        margin-left: 320px;
    }
    .sidebar-right.sidebar-sticky
    {
        float: left !important;

        width: 300px !important; 
        margin-right: -300px;
    }
    [data-col='content-left-sidebar'] .sticky-wrapper
    {
        float: right;
    }
    .vertical-content-menu .content .sidebar-left
    {
        margin-right: 288px;
    }
    .vertical-content-menu .content .content-detached.content-right
    {
        float: left;

        width: -webkit-calc(100% - 300px);
        width:    -moz-calc(100% - 300px);
        width:         calc(100% - 300px);
        margin-right: -300px;
    }
    .vertical-content-menu .content .content-detached.content-right .content-body
    {
        margin-right: 295px;
    }
    .vertical-content-menu .content .content-detached.content-left
    {
        float: right;

        width: 100%;
        margin-left: -300px;
    }
    .vertical-content-menu .content .content-detached.content-left .content-body
    {
        margin-left: 320px;
    }
}

/*=========================================================================================
	File Name: sidebar.scss
	Description: content sidebar specific scss.
	----------------------------------------------------------------------------------------
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.sidebar
{
    position: relative;

    width: 100%;
}
@media (min-width: 992px)
{
    .sidebar
    {
        width: 300px; 

        vertical-align: top;
    }
}

.sidebar-fixed
{
    position: fixed;

    overflow: scroll; 

    height: 100%;
}

@media (min-width: 992px)
{
    .sidebar-left
    {
        float: right;
    }
    .sidebar-right
    {
        float: left;
    }
}

footer.footer
{
    padding: .8rem;
}

footer.navbar-shadow
{
    -webkit-box-shadow: -1px 0 20px rgba(0, 0, 0, .1);
            box-shadow: -1px 0 20px rgba(0, 0, 0, .1);
}

footer.navbar-border
{
    border-top: 1px solid #e4e7ed;
}

footer.footer-transparent
{
    border: none;
}

footer.footer-light
{
    background: #fff;
}

footer.footer-dark
{
    color: #fff; 
    background: #2c303b;
}

/*=========================================================================================
	File Name: navigations.scss
	Description: Common mixin for menus, contain dark and light version scss.
	----------------------------------------------------------------------------------------
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.main-menu
{
    position: absolute;
    z-index: 100000;

    display: table-cell;
}
.main-menu.menu-light
{
    color: #6b6f82;
    border-left: 1px solid #e4e7ed; 
    background: #fff;
}
.main-menu.menu-light .main-menu-header
{
    padding: 20px;
}
.main-menu.menu-light .main-menu-header .menu-search
{
    padding: .5rem 1rem;

    color: #545766; 
    background: #e6e6e6;
}
.main-menu.menu-light .main-menu-header .menu-search:focus
{
    border-color: #d9d9d9;
}
.main-menu.menu-light .navigation
{
    background: #fff;
}
.main-menu.menu-light .navigation .navigation-header
{
    padding: 30px 20px 8px 20px; 

    color: #6b6f82;
}
.main-menu.menu-light .navigation .navigation-header span
{
    font-weight: 500;
}
.main-menu.menu-light .navigation li a
{
    color: #6b6f82;
}
.main-menu.menu-light .navigation li a span
{
    display: inline-block;
}
.main-menu.menu-light .navigation li a span.menu-sub-title
{
    color: #bdbfc9;
}
.main-menu.menu-light .navigation li.hover > a,
.main-menu.menu-light .navigation li.open > a,
.main-menu.menu-light .navigation li.active > a
{
    color: #fff;
}
.main-menu.menu-light .navigation > li
{
    padding: 0;
}
.main-menu.menu-light .navigation > li > a
{
    padding: 12px 18px 12px 36px;
}
.main-menu.menu-light .navigation > li > a .label
{
    margin-top: 4px;
    margin-left: 5px;
}
.main-menu.menu-light .navigation > li > a i
{
    position: relative;
    top: 3px;
}
.main-menu.menu-light .navigation > li.open > a
{
    color: #545766;
    border-left: 4px solid #1b65d3; 
    background: whitesmoke;
}
.main-menu.menu-light .navigation > li:not(.open) > ul
{
    display: none;
}
.main-menu.menu-light .navigation > li.hover > a,
.main-menu.menu-light .navigation > li:hover > a,
.main-menu.menu-light .navigation > li.active > a
{
    color: #fff;
}
.main-menu.menu-light .navigation > li.hover > a.mm-next,
.main-menu.menu-light .navigation > li:hover > a.mm-next,
.main-menu.menu-light .navigation > li.active > a.mm-next
{
    background-color: inherit;
}
.main-menu.menu-light .navigation > li.active > a
{
    font-weight: 700; 

    color: #fff;
}
.main-menu.menu-light .navigation > li .active
{
    background: #f0f0f0;
}
.main-menu.menu-light .navigation > li .active > a
{
    font-weight: 700; 

    color: #fff;
}
.main-menu.menu-light .navigation > li .active .hover > a
{
    background: whitesmoke;
}
.main-menu.menu-light .navigation > li ul
{
    font-size: 1rem; 

    margin: 0;
    padding: 0;
}
.main-menu.menu-light .navigation > li ul li
{
    color: #6b6f82;
    background: transparent;
}
.main-menu.menu-light .navigation > li ul li > a
{
    padding: 8px 54px 8px 18px;
}
.main-menu.menu-light .navigation > li ul .has-sub:not(.open) > ul
{
    display: none;
}
.main-menu.menu-light .navigation > li ul .open > a
{
    color: #6b6f82;
}
.main-menu.menu-light .navigation > li ul .open > ul
{
    display: block;
}
.main-menu.menu-light .navigation > li ul .open > ul li > a
{
    padding: 8px 64px 8px 18px;
}
.main-menu.menu-light .navigation > li ul .open > ul .open > ul
{
    display: block;
}
.main-menu.menu-light .navigation > li ul .open > ul .open > ul li > a
{
    padding: 8px 74px 8px 18px;
}
.main-menu.menu-light .navigation > li ul .hover > a,
.main-menu.menu-light .navigation > li ul:hover > a
{
    color: #74798d;
}
.main-menu.menu-light .navigation > li ul .active
{
    background: transparent;
}
.main-menu.menu-light .navigation > li ul .active > a
{
    font-weight: 700; 

    color: #85899b;
}
.main-menu.menu-light .navigation > li ul .active .hover > a
{
    background-color: transparent;
}
.main-menu.menu-light .navigation > li > ul
{
    background: #fff;
}
.main-menu.menu-light ul.menu-popout
{
    background: #fff;
}
.main-menu.menu-light ul.menu-popout li a
{
    color: #6b6f82;
}
.main-menu.menu-light ul.menu-popout li a span.menu-sub-title
{
    color: #bdbfc9;
}
.main-menu.menu-light ul.menu-popout li a:hover
{
    color: #fff;
}
.main-menu.menu-light ul.menu-popout .has-sub:not(.open) > ul
{
    display: none;
}
.main-menu.menu-light ul.menu-popout .open > a
{
    color: #6b6f82;
}
.main-menu.menu-light ul.menu-popout .open > ul
{
    display: block;
}
.main-menu.menu-light ul.menu-popout .open > ul .open
{
    background: #e8e8e8;
}
.main-menu.menu-light ul.menu-popout .open > ul .open > ul
{
    display: block;

    background: #e8e8e8;
}
.main-menu.menu-light ul.menu-popout .hover > a,
.main-menu.menu-light ul.menu-popout:hover > a
{
    color: #74798d;
}
.main-menu.menu-light ul.menu-popout .active
{
    font-weight: 700;
}
.main-menu.menu-light ul.menu-popout .active > a
{
    color: #85899b;
}
.main-menu.menu-light ul.menu-popout .active .hover > a,
.main-menu.menu-light ul.menu-popout .active :hover > a
{
    background-color: transparent;
}
.main-menu.menu-dark
{
    color: #94a9da;
    background: #1a3c8b;
}
.main-menu.menu-dark .main-menu-header
{
    padding: 20px;
}
.main-menu.menu-dark .main-menu-header .menu-search
{
    padding: .5rem 1rem;

    color: #6e8bcd; 
    background: #122960;
}
.main-menu.menu-dark .main-menu-header .menu-search:focus
{
    border-color: #0e204b;
}
.main-menu.menu-dark .navigation
{
    background: #1a3c8b;
}
.main-menu.menu-dark .navigation .navigation-header
{
    padding: 30px 20px 8px 20px; 

    color: #94a9da;
}
.main-menu.menu-dark .navigation .navigation-header span
{
    font-weight: 500;
}
.main-menu.menu-dark .navigation li a
{
    color: #94a9da;
}
.main-menu.menu-dark .navigation li a span
{
    display: inline-block;
}
.main-menu.menu-dark .navigation li a span.menu-sub-title
{
    color: white;
}
.main-menu.menu-dark .navigation li.hover > a,
.main-menu.menu-dark .navigation li.open > a,
.main-menu.menu-dark .navigation li.active > a
{
    color: #fff;
}
.main-menu.menu-dark .navigation > li
{
    padding: 0;
}
.main-menu.menu-dark .navigation > li > a
{
    padding: 12px 18px 12px 36px;
}
.main-menu.menu-dark .navigation > li > a .label
{
    margin-top: 4px;
    margin-left: 5px;
}
.main-menu.menu-dark .navigation > li > a i
{
    position: relative;
    top: 3px;
}
.main-menu.menu-dark .navigation > li.open > a
{
    color: #6e8bcd;
    border-left: 4px solid #1b65d3; 
    background: #17357a;
}
.main-menu.menu-dark .navigation > li:not(.open) > ul
{
    display: none;
}
.main-menu.menu-dark .navigation > li.hover > a,
.main-menu.menu-dark .navigation > li:hover > a,
.main-menu.menu-dark .navigation > li.active > a
{
    color: #fff;
}
.main-menu.menu-dark .navigation > li.hover > a.mm-next,
.main-menu.menu-dark .navigation > li:hover > a.mm-next,
.main-menu.menu-dark .navigation > li.active > a.mm-next
{
    background-color: inherit;
}
.main-menu.menu-dark .navigation > li.active > a
{
    font-weight: 700; 

    color: #fff;
}
.main-menu.menu-dark .navigation > li .active
{
    background: #153171;
}
.main-menu.menu-dark .navigation > li .active > a
{
    font-weight: 700; 

    color: #fff;
}
.main-menu.menu-dark .navigation > li .active .hover > a
{
    background: #17357a;
}
.main-menu.menu-dark .navigation > li ul
{
    font-size: 1rem; 

    margin: 0;
    padding: 0;
}
.main-menu.menu-dark .navigation > li ul li
{
    color: #94a9da;
    background: transparent;
}
.main-menu.menu-dark .navigation > li ul li > a
{
    padding: 8px 54px 8px 18px;
}
.main-menu.menu-dark .navigation > li ul .has-sub:not(.open) > ul
{
    display: none;
}
.main-menu.menu-dark .navigation > li ul .open > a
{
    color: #94a9da;
}
.main-menu.menu-dark .navigation > li ul .open > ul
{
    display: block;
}
.main-menu.menu-dark .navigation > li ul .open > ul li > a
{
    padding: 8px 64px 8px 18px;
}
.main-menu.menu-dark .navigation > li ul .open > ul .open > ul
{
    display: block;
}
.main-menu.menu-dark .navigation > li ul .open > ul .open > ul li > a
{
    padding: 8px 74px 8px 18px;
}
.main-menu.menu-dark .navigation > li ul .hover > a,
.main-menu.menu-dark .navigation > li ul:hover > a
{
    color: #a3b5df;
}
.main-menu.menu-dark .navigation > li ul .active
{
    background: transparent;
}
.main-menu.menu-dark .navigation > li ul .active > a
{
    font-weight: 700; 

    color: #bac7e7;
}
.main-menu.menu-dark .navigation > li ul .active .hover > a
{
    background-color: transparent;
}
.main-menu.menu-dark .navigation > li > ul
{
    background: #1a3c8b;
}
.main-menu.menu-dark ul.menu-popout
{
    background: #1a3c8b;
}
.main-menu.menu-dark ul.menu-popout li a
{
    color: #94a9da;
}
.main-menu.menu-dark ul.menu-popout li a span.menu-sub-title
{
    color: white;
}
.main-menu.menu-dark ul.menu-popout li a:hover
{
    color: #fff;
}
.main-menu.menu-dark ul.menu-popout .has-sub:not(.open) > ul
{
    display: none;
}
.main-menu.menu-dark ul.menu-popout .open > a
{
    color: #94a9da;
}
.main-menu.menu-dark ul.menu-popout .open > ul
{
    display: block;
}
.main-menu.menu-dark ul.menu-popout .open > ul .open
{
    background: #132b64;
}
.main-menu.menu-dark ul.menu-popout .open > ul .open > ul
{
    display: block;

    background: #132b64;
}
.main-menu.menu-dark ul.menu-popout .hover > a,
.main-menu.menu-dark ul.menu-popout:hover > a
{
    color: #a3b5df;
}
.main-menu.menu-dark ul.menu-popout .active
{
    font-weight: 700;
}
.main-menu.menu-dark ul.menu-popout .active > a
{
    color: #bac7e7;
}
.main-menu.menu-dark ul.menu-popout .active .hover > a,
.main-menu.menu-dark ul.menu-popout .active :hover > a
{
    background-color: transparent;
}
.main-menu.menu-bg-default
{
      background: -webkit-gradient(linear, right top, right bottom, from(#193e8e), to(#130e3b)) !important;
      background: -webkit-linear-gradient(#193e8e, #130e3b) !important;
      background: -moz- oldlinear-gradient(#193e8e, #130e3b) !important;
      background:      -o-linear-gradient(#193e8e, #130e3b) !important;
      background: -webkit-gradient(linear, left top, left bottom, from(#193e8e), to(#130e3b)) !important;
      background:         linear-gradient(#193e8e, #130e3b) !important;
    -webkit-box-shadow: 0 0 8px rgba(62, 57, 107, .7) !important;
            box-shadow: 0 0 8px rgba(62, 57, 107, .7) !important;
}
.main-menu.menu-bg-default .navigation
{
    background: transparent;
}
.main-menu.menu-fixed
{
    position: fixed;
    /* fallback if needed */
    top: 0;

    height: 100%;
    height: -webkit-calc(100% - 20px);
    height:    -moz-calc(100% - 20px);
    height:         calc(100% - 20px);
}
.main-menu.menu-fixed .main-menu-footer
{
    position: fixed;
}
.main-menu.menu-shadow
{
    -webkit-box-shadow: -1px 0 30px rgba(0, 0, 0, .1);
            box-shadow: -1px 0 30px rgba(0, 0, 0, .1);
}
.main-menu.menu-border
{
    border-left: 1px solid #e4e7ed;
}
.main-menu.menu-native-scroll .main-menu-content
{
    overflow-y: scroll;
}
.main-menu.menu-bordered.menu-light .navigation > li
{
    border-top: 1px solid #e4e7ed;
}
.main-menu.menu-bordered.menu-dark .navigation > li
{
    border-top: 1px solid rgba(255, 255, 255, .1);
}
.main-menu .main-menu-content
{
    position: relative; 

    height: 100%;
}
.main-menu ul
{
    margin: 0;
    padding: 0; 

    list-style: none;
}
.main-menu ul.navigation-main
{
    overflow-x: hidden;
}
.main-menu a
{
    outline: none;
}
.main-menu a:hover,
.main-menu a:focus
{
    text-decoration: none;
}

.navigation
{
    font-family: 'Comfortaa', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 400;

    overflow-y: hidden;

    padding-bottom: 20px; 

    letter-spacing: .2px;
}
.navigation .navigation-header
{
    font-family: 'Comfortaa', Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem; 
    font-weight: 400;
    line-height: 1.2;

    padding: 12px 22px;
}
.navigation li
{
    position: relative;

    white-space: nowrap;
}
.navigation li a
{
    display: block;
    overflow: hidden; 
    /* white-space: nowrap; */

    text-overflow: ellipsis;
}
.navigation li .is-hidden
{
    /* transition: all 250ms ease-in;
            transform: scale(0);
            opacity: 0; */
}
.navigation li .is-shown
{
    /* transition: all 250ms ease-in;
            transform: scale(1);
            opacity: 1; */
}
.navigation li.disabled a
{
    cursor: not-allowed;
}

.menu-popout li.disabled a
{
    cursor: not-allowed;
}

.dropdown-notification .notification-text
{
    margin-bottom: .5rem;
}

.dropdown-notification .notification-tag
{
    position: relative;
    top: -28px;
    left: 20px;
}

.main-menu-header .user-content
{
    padding: 20px;
}
.main-menu-header .user-content .media
{
    overflow: inherit;
}
.main-menu-header .user-content .media-body
{
    width: 150px;

    -webkit-transition: all .3s ease .15s;
       -moz-transition: all .3s ease .15s;
         -o-transition: all .3s ease .15s;
            transition: all .3s ease .15s; 
    vertical-align: bottom;
    white-space: nowrap;

    opacity: 1;
}

.main-menu-footer
{
    position: relative;
    z-index: 1000;
    bottom: 0;

    display: block;
    overflow: hidden;

    color: #c5c9d4;
    background-color: #16181e;
}
.main-menu-footer.footer-open
{
    max-height: 500px;

    -webkit-transition: max-height .2s ease-in-out;
       -moz-transition: max-height .2s ease-in-out;
         -o-transition: max-height .2s ease-in-out;
            transition: max-height .2s ease-in-out;
}
.main-menu-footer.footer-close
{
    max-height: 15px;

    -webkit-transition: max-height .2s ease-in-out;
       -moz-transition: max-height .2s ease-in-out;
         -o-transition: max-height .2s ease-in-out;
            transition: max-height .2s ease-in-out;
}
.main-menu-footer a
{
    color: #a8aebe;
}
.main-menu-footer a:hover,
.main-menu-footer a:focus
{
    color: #fff;
}
.main-menu-footer .header
{
    height: 19px;

    border-bottom: 1px solid #21242c;
}
.main-menu-footer .toggle
{
    transition: -webkit-transform .2s ease-in-out; 
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
.main-menu-footer .content
{
    padding: 0;
}
.main-menu-footer .content .actions > a
{
    display: block;
    float: right;

    width: 33.33333%;
    padding: 1rem 0;

    text-align: center;

    color: #a8aebe;
    border-top: 1px solid #21242c;
    border-right: 1px solid #21242c;
}
.main-menu-footer .content .actions > a > span
{
    font-size: 1.35rem;
}
.main-menu-footer .content .actions > a:hover,
.main-menu-footer .content .actions > a:focus
{
    color: #fff;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu-footer .content
{
    margin-right: 0;
}

.vertical-layout.menu-expanded .menu-icon-right ul.navigation li > a:after,
.vertical-overlay-menu .menu-icon-right ul.navigation li > a:after
{
    right: 8px;
    left: initial !important;
}

.vertical-layout.menu-expanded .menu-icon-right ul.navigation li > a > i,
.vertical-overlay-menu .menu-icon-right ul.navigation li > a > i
{
    float: left !important;

    margin: 0 0  0 -12px !important;
}

.horizontal-layout .navbar-icon-right ul.nav > li > a:after
{
    position: relative;
    top: 27px;
    right: -16px; 

    float: right;
}

.horizontal-layout .navbar-icon-right ul.nav > li > a > i
{
    float: left;

    margin: 0 8px 0 4px;
}

.horizontal-layout .navbar-fixed
{
    z-index: 999 !important;
}

@media (max-width: 767.98px)
{
    .menu-hide .main-menu,
    .menu-open .main-menu
    {
        -webkit-transition: top .35s, height .35s, -webkit-transform .25s;
           -moz-transition: transform .25s, top .35s, height .35s, -moz-transform .25s;
             -o-transition: top .35s, height .35s, -o-transform .25s;
                transition: top .35s, height .35s, -webkit-transform .25s;
                transition: transform .25s, top .35s, height .35s;
                transition: transform .25s, top .35s, height .35s, -webkit-transform .25s, -moz-transform .25s, -o-transform .25s;
    }
    .main-menu
    {
        -webkit-transform: translate3d(240px, 0, 0);
           -moz-transform: translate3d(240px, 0, 0);
                transform: translate3d(240px, 0, 0);

        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    .menu-open .main-menu
    {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    .main-menu.menu-fixed
    {
        top: 5rem;

        height: -webkit-calc(100% - 5rem);
        height:    -moz-calc(100% - 5rem);
        height:         calc(100% - 5rem);
    }
}

@media (max-width: 991.98px)
{
    .horizontal-layout.vertical-overlay-menu .main-menu-content
    {
        padding: 0;
    }
    .horizontal-layout.vertical-overlay-menu .main-menu-content .mega-dropdown-menu
    {
        width: 100%; 
        margin: 0;
    }
    .horizontal-layout.vertical-overlay-menu .main-menu-content .mega-dropdown-menu > li
    {
        padding: 0;
    }
    .horizontal-layout.vertical-overlay-menu .navbar .navbar-container
    {
        margin-right: 0;
    }
}

.display-inline
{
    display: inline !important;
}

.display-block
{
    display: block !important;
}

.display-inline-block
{
    display: inline-block !important;
}

.display-hidden
{
    display: none !important;
}

.display-table-cell
{
    display: table-cell !important;
}

.position-top-0
{
    top: 0;
}

.position-right-0
{
    left: 0;
}

.position-bottom-0
{
    bottom: 0;
}

.position-left-0
{
    right: 0;
}

.zindex-1
{
    z-index: 1 !important;
}

.zindex-2
{
    z-index: 2 !important;
}

.zindex-3
{
    z-index: 3 !important;
}

.zindex-4
{
    z-index: 4 !important;
}

.zindex-0
{
    z-index: 0 !important;
}

.zindex-minus-1
{
    z-index: -1 !important;
}

.zindex-minus-2
{
    z-index: -2 !important;
}

.zindex-minus-3
{
    z-index: -3 !important;
}

.zindex-minus-4
{
    z-index: -4 !important;
}

.no-edge-top
{
    top: 0 !important;
}

.no-edge-bottom
{
    bottom: 0 !important;
}

.no-edge-left
{
    right: 0 !important;
}

.no-edge-right
{
    left: 0 !important;
}

.cursor-pointer
{
    cursor: pointer;
}

.cursor-move
{
    cursor: move;
}

.cursor-default
{
    cursor: default;
}

.cursor-progress
{
    cursor: progress;
}

.cursor-not-allowed
{
    cursor: not-allowed;
}

.overflow-hidden
{
    overflow: hidden;
}

.overflow-visible
{
    overflow: visible;
}

.overflow-auto
{
    overflow: auto;
}

.overflow-scroll
{
    overflow: scroll;
}

.overflow-x-scroll
{
    overflow: scroll;
}

.overflow-y-scroll
{
    overflow: scroll;
}

.bullets-inside
{
    list-style: inside;
}

.list-style-circle
{
    list-style: circle;
}

.list-style-square
{
    list-style: square;
}

.list-style-icons
{
    margin-right: 0;
    padding-right: 10px;

    list-style: none;
}
.list-style-icons > li i
{
    float: right;

    width: 1em;
    margin: 0 0 0 6px;
}

.border
{
    border: 1px solid;
}

.border-top
{
    border-top: 1px solid;
}

.border-bottom
{
    border-bottom: 1px solid;
}

.border-left
{
    border-right: 1px solid;
}

.border-right
{
    border-left: 1px solid;
}

.border-2
{
    border-width: 2px !important;
}

.border-top-2
{
    border-top-width: 2px !important;
}

.border-bottom-2
{
    border-bottom-width: 2px !important;
}

.border-left-2
{
    border-right-width: 2px !important;
}

.border-right-2
{
    border-left-width: 2px !important;
}

.border-3
{
    border-width: 3px !important;
}

.border-top-3
{
    border-top-width: 3px !important;
}

.border-bottom-3
{
    border-bottom-width: 3px !important;
}

.border-left-3
{
    border-right-width: 3px !important;
}

.border-right-3
{
    border-left-width: 3px !important;
}

.no-border-top-radius
{
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important;
}

.no-border-bottom-radius
{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.no-border-top-left-radius
{
    border-top-right-radius: 0 !important;
}

.no-border-top-right-radius
{
    border-top-left-radius: 0 !important;
}

.no-border-bottom-left-radius
{
    border-bottom-right-radius: 0 !important;
}

.no-border-bottom-right-radius
{
    border-bottom-left-radius: 0 !important;
}

.box-shadow-0
{
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.box-shadow-1
{
    -webkit-box-shadow: 0 7px 12px 0 rgba(62, 57, 107, .16);
            box-shadow: 0 7px 12px 0 rgba(62, 57, 107, .16);
}

.box-shadow-2
{
    -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
            box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
}

.box-shadow-3
{
    -webkit-box-shadow: 0 14px 24px 0 rgba(62, 57, 107, .26);
            box-shadow: 0 14px 24px 0 rgba(62, 57, 107, .26);
}

.box-shadow-4
{
    -webkit-box-shadow: 0 16px 28px 0 rgba(62, 57, 107, .3);
            box-shadow: 0 16px 28px 0 rgba(62, 57, 107, .3);
}

.box-shadow-5
{
    -webkit-box-shadow: 0 27px 24px 0 rgba(62, 57, 107, .36);
            box-shadow: 0 27px 24px 0 rgba(62, 57, 107, .36);
}

.fit
{
    max-width: 100% !important;
}

.half-width
{
    width: 50% !important;
}

.full-width
{
    width: 100% !important;
}

.full-height
{
    height: 100% !important;
}

.width-50
{
    width: 50px !important;
}

.width-100
{
    width: 100px !important;
}

.width-150
{
    width: 150px !important;
}

.width-200
{
    width: 200px !important;
}

.width-250
{
    width: 250px !important;
}

.width-300
{
    width: 300px !important;
}

.width-350
{
    width: 350px !important;
}

.width-400
{
    width: 400px !important;
}

.width-450
{
    width: 450px !important;
}

.width-500
{
    width: 500px !important;
}

.width-550
{
    width: 550px !important;
}

.width-600
{
    width: 600px !important;
}

.width-650
{
    width: 650px !important;
}

.width-700
{
    width: 700px !important;
}

.width-750
{
    width: 750px !important;
}

.width-800
{
    width: 800px !important;
}

.width-5-per
{
    width: 5% !important;
}

.width-10-per
{
    width: 10% !important;
}

.width-15-per
{
    width: 15% !important;
}

.width-20-per
{
    width: 20% !important;
}

.width-25-per
{
    width: 25% !important;
}

.width-30-per
{
    width: 30% !important;
}

.width-35-per
{
    width: 35% !important;
}

.width-40-per
{
    width: 40% !important;
}

.width-45-per
{
    width: 45% !important;
}

.width-50-per
{
    width: 50% !important;
}

.width-55-per
{
    width: 55% !important;
}

.width-60-per
{
    width: 60% !important;
}

.width-65-per
{
    width: 65% !important;
}

.width-70-per
{
    width: 70% !important;
}

.width-75-per
{
    width: 75% !important;
}

.width-80-per
{
    width: 80% !important;
}

.width-90-per
{
    width: 90% !important;
}

.width-95-per
{
    width: 95% !important;
}

.height-50
{
    height: 50px !important;
}

.height-75
{
    height: 75px !important;
}

.height-100
{
    height: 100px !important;
}

.height-150
{
    height: 150px !important;
}

.height-200
{
    height: 200px !important;
}

.height-250
{
    height: 250px !important;
}

.height-300
{
    height: 300px !important;
}

.height-350
{
    height: 350px !important;
}

.height-400
{
    height: 400px !important;
}

.height-450
{
    height: 450px !important;
}

.height-500
{
    height: 500px !important;
}

.height-550
{
    height: 550px !important;
}

.height-600
{
    height: 600px !important;
}

.height-650
{
    height: 650px !important;
}

.height-700
{
    height: 700px !important;
}

.height-750
{
    height: 750px !important;
}

.height-800
{
    height: 800px !important;
}

.height-5-per
{
    height: 5% !important;
}

.height-10-per
{
    height: 10% !important;
}

.height-15-per
{
    height: 15% !important;
}

.height-20-per
{
    height: 20% !important;
}

.height-25-per
{
    height: 25% !important;
}

.height-30-per
{
    height: 30% !important;
}

.height-35-per
{
    height: 35% !important;
}

.height-40-per
{
    height: 40% !important;
}

.height-45-per
{
    height: 45% !important;
}

.height-50-per
{
    height: 50% !important;
}

.height-55-per
{
    height: 55% !important;
}

.height-60-per
{
    height: 60% !important;
}

.height-65-per
{
    height: 65% !important;
}

.height-70-per
{
    height: 70% !important;
}

.height-75-per
{
    height: 75% !important;
}

.height-80-per
{
    height: 80% !important;
}

.full-height-vh-with-nav
{
    height: -webkit-calc(100vh - 5rem - 4rem);
    height:    -moz-calc(100vh - 5rem - 4rem);
    height:         calc(100vh - 5rem - 4rem);
}

.full-height-vh
{
    height: 100vh;
}

.line-height-1
{
    line-height: 1 !important;
}

.line-height-2
{
    line-height: 2 !important;
}

.line-height-3
{
    line-height: 3 !important;
}

.rotate-45
{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.rotate-45-inverse
{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.rotate-90
{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.rotate-90-inverse
{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.rotate-180
{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.rotate-180-inverse
{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.pull-up
{
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.pull-up:hover
{
    z-index: 999; 

    -webkit-transform: translateY(-4px) scale(1.02);
       -moz-transform: translateY(-4px) scale(1.02);
        -ms-transform: translateY(-4px) scale(1.02);
         -o-transform: translateY(-4px) scale(1.02);
            transform: translateY(-4px) scale(1.02);

    -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
            box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
}

.spinner
{
    display: inline-block;

    -webkit-animation: spin 1s linear infinite;
       -moz-animation: spin 1s linear infinite;
         -o-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

@-moz-keyframes spin
{
    0%
    {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    100%
    {
        -moz-transform: rotate(-360deg);
             transform: rotate(-360deg);
    }
}

@-o-keyframes spin
{
    0%
    {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    100%
    {
        -o-transform: rotate(-360deg);
           transform: rotate(-360deg);
    }
}

@keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(-360deg);
           -moz-transform: rotate(-360deg);
             -o-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

.spinner-reverse
{
    display: inline-block;

    -webkit-animation: spin-reverse 1s linear infinite;
       -moz-animation: spin-reverse 1s linear infinite;
         -o-animation: spin-reverse 1s linear infinite;
            animation: spin-reverse 1s linear infinite;
}

@-webkit-keyframes spin-reverse
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-moz-keyframes spin-reverse
{
    0%
    {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    100%
    {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}

@-o-keyframes spin-reverse
{
    0%
    {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    100%
    {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}

@keyframes spin-reverse
{
    0%
    {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.bg-cover
{
    -webkit-background-size: cover !important;
            background-size: cover !important;
}

.background-repeat
{
    background-repeat: repeat !important;
}

.background-no-repeat
{
    background-repeat: no-repeat !important;
}

.img-xl
{
    width: 64px !important;
    height: 64px !important;
}

.img-lg
{
    width: 44px !important;
    height: 44px !important;
}

.img-sm
{
    width: 36px !important;
    height: 36px !important;
}

.img-xs
{
    width: 32px !important;
    height: 32px !important;
}

.browser-icon::before
{
    position: absolute;
    top: 50%;
    right: 0;

    display: block;

    width: 18px;
    height: 18px;

    content: '';
    -webkit-transform: translateY(-50%) translateX(40%);
       -moz-transform: translateY(-50%) translateX(40%);
        -ms-transform: translateY(-50%) translateX(40%);
         -o-transform: translateY(-50%) translateX(40%);
            transform: translateY(-50%) translateX(40%);

    background-repeat: no-repeat; 
    -webkit-background-size: 18px 18px;
            background-size: 18px;
}

.browser-icon.firefox-icon::before
{
    background-image: url('../../app-assets/images/icons/firefox.svg');
}

.browser-icon.safari-icon::before
{
    background-image: url('../../app-assets/images/icons/safari.svg');
}

.browser-icon.chrome-icon::before
{
    background-image: url('../../app-assets/images/icons/chrome.svg');
}

.browser-icon.ie-icon::before
{
    background-image: url('../../app-assets/images/icons/ie.svg');
}

.avatar
{
    position: relative;

    display: inline-block;

    width: 30px;

    vertical-align: bottom; 
    white-space: nowrap;

    border-radius: 1000px;
}
.avatar i
{
    position: absolute;
    bottom: 2px;
    left: -7px;

    width: 8px;
    height: 8px;

    border-radius: 100%;
}
.avatar span.text-circle
{
    font-size: 1.2rem;

    display: table-cell; 

    text-align: center;
    vertical-align: middle;

    color: #fff;
    background: #babfc7;
}
.avatar img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    border: 0 none;
    border-radius: 1000px;
}
.avatar .badge-up
{
    top: -8px;
    left: -11px;
}

.avatar-online i
{
    background-color: #28d094;
}

.avatar-off i
{
    background-color: #babfc7;
}

.avatar-busy i
{
    background-color: #ff4961;
}

.avatar-away i
{
    background-color: #ff9149;
}

.avatar-100
{
    width: 100px;
}
.avatar-100 span.text-circle
{
    width: 100px;
    height: 100px;
}
.avatar-100 i
{
    width: 20px; 
    height: 20px;
}

.avatar-50
{
    width: 50px;
}
.avatar-50 span.text-circle
{
    width: 50px;
    height: 50px;
}
.avatar-50 i
{
    width: 10px; 
    height: 10px;
}

.avatar-lg
{
    width: 144px;
}
.avatar-lg span.text-circle
{
    width: 144px;
    height: 144px;
}
.avatar-lg i
{
    bottom: 0;
    left: 0;

    width: 20px; 
    height: 20px;
}

.avatar-md
{
    width: 40px;
}
.avatar-md span.text-circle
{
    width: 40px;
    height: 40px;
}
.avatar-md i
{
    bottom: 0;
    left: 0;

    width: 10px; 
    height: 10px;
}

.avatar-sm
{
    width: 32px;
}
.avatar-sm span.text-circle
{
    width: 32px;
    height: 32px;
}
.avatar-sm i
{
    width: 8px; 
    height: 8px;
}

.avatar-xs
{
    width: 24px;
}
.avatar-xs span.text-circle
{
    width: 24px;
    height: 24px;
}
.avatar-xs i
{
    width: 7px; 
    height: 7px;
}

/*=========================================================================================
	File Name: search.scss
	Description: Search  functionality.
	----------------------------------------------------------------------------------------
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.navbar-container a.nav-link-search
{
    float: right;
}

.navbar-container .search-input
{
    float: right;

    width: 0; 
    padding-top: 1.2rem;
}
.navbar-container .search-input .input
{
    line-height: 16px; 

    width: 0;

    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;

    border: none;
    background: none;
}
.navbar-container .search-input.open .input
{
    width: 200px;
    padding: 5px 10px;

    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out; 

    outline: none;
    background: none;
}

.navbar-light .search-input .input,
.navbar-semi-dark .search-input .input
{
    color: #2c303b;
}
.navbar-light .search-input .input::-webkit-input-placeholder,
.navbar-semi-dark .search-input .input::-webkit-input-placeholder
{
    color: #2c303b;
}
.navbar-light .search-input .input:-moz-placeholder,
.navbar-semi-dark .search-input .input:-moz-placeholder
{
    color: #2c303b;
}
.navbar-light .search-input .input::-moz-placeholder,
.navbar-semi-dark .search-input .input::-moz-placeholder
{
    color: #2c303b;
}
.navbar-light .search-input .input:-ms-input-placeholder,
.navbar-semi-dark .search-input .input:-ms-input-placeholder
{
    color: #2c303b;
}
.navbar-light .search-input .input::placeholder,
.navbar-semi-dark .search-input .input::placeholder
{
    color: #2c303b;
}

.navbar-light .search-input.open .input,
.navbar-semi-dark .search-input.open .input
{
    color: #2c303b;
    border-bottom: 1px solid #2c303b;
}

.navbar-dark .search-input .input,
.navbar-semi-light .search-input .input
{
    color: #f9fafd;
}
.navbar-dark .search-input .input::-webkit-input-placeholder,
.navbar-semi-light .search-input .input::-webkit-input-placeholder
{
    color: #f9fafd;
}
.navbar-dark .search-input .input:-moz-placeholder,
.navbar-semi-light .search-input .input:-moz-placeholder
{
    color: #f9fafd;
}
.navbar-dark .search-input .input::-moz-placeholder,
.navbar-semi-light .search-input .input::-moz-placeholder
{
    color: #f9fafd;
}
.navbar-dark .search-input .input:-ms-input-placeholder,
.navbar-semi-light .search-input .input:-ms-input-placeholder
{
    color: #f9fafd;
}
.navbar-dark .search-input .input::placeholder,
.navbar-semi-light .search-input .input::placeholder
{
    color: #f9fafd;
}

.navbar-dark .search-input.open .input,
.navbar-semi-light .search-input.open .input
{
    color: #f9fafd;
    border-bottom: 1px solid #f9fafd;
}

@media (max-width: 991.98px)
{
    #navbar-mobile .search-input.open .input
    {
        position: relative;
        z-index: 1;
        top: -5px; 

        overflow: hidden;

        width: 180px;
        padding: 10px 10px;

        color: #2c303b;
        border-bottom: 1px solid #2c303b;
        background: #fff;
    }
}

.ps-container
{
    overflow: hidden !important;

    -ms-touch-action: none;
        touch-action: none;
    -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none)
{
    .ps-container
    {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .ps-container
    {
        overflow: auto !important;
    }
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail
{
    display: block;

    background-color: transparent;
}
.ps-container.ps-in-scrolling
{
    pointer-events: none;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: #eee;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: #999;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: #eee;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: #999;
}
.ps-container > .ps-scrollbar-x-rail
{
    position: absolute;
    bottom: 3px;

    display: none;
    /* there must be 'bottom' for ps-scrollbar-x-rail */

    height: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    position: absolute;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */

    height: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: #aaa;
}
.ps-container > .ps-scrollbar-y-rail
{
    position: absolute;
    left: 3px;

    display: none;
    /* there must be 'right' for ps-scrollbar-y-rail */

    width: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    position: absolute;
    left: 0;
    /* there must be 'right' for ps-scrollbar-y */

    width: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: #aaa;
}
.ps-container:hover.ps-in-scrolling
{
    pointer-events: none;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: #eee;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: #999;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: #eee;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: #999;
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail
{
    opacity: .6;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover
{
    opacity: .9; 
    background-color: #eee;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
{
    background-color: #999;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover
{
    opacity: .9; 
    background-color: #eee;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
{
    background-color: #999;
}

.ps-theme-dark
{
    overflow: hidden !important;

    -ms-touch-action: none;
        touch-action: none;
    -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none)
{
    .ps-theme-dark
    {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .ps-theme-dark
    {
        overflow: auto !important;
    }
}
.ps-theme-dark.ps-active-x > .ps-scrollbar-x-rail,
.ps-theme-dark.ps-active-y > .ps-scrollbar-y-rail
{
    display: block;

    background-color: transperant;
}
.ps-theme-dark.ps-in-scrolling
{
    pointer-events: none;
}
.ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.ps-theme-dark > .ps-scrollbar-x-rail
{
    position: absolute;
    bottom: 3px;

    display: none;
    /* there must be 'bottom' for ps-scrollbar-x-rail */

    height: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.ps-theme-dark > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    position: absolute;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */

    height: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.ps-theme-dark > .ps-scrollbar-y-rail
{
    position: absolute;
    left: 0;

    display: none;
    /* there must be 'right' for ps-scrollbar-y-rail */

    width: 6px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.ps-theme-dark > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    position: absolute;
    left: 0;
    /* there must be 'right' for ps-scrollbar-y */

    width: 6px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.ps-theme-dark:hover.ps-in-scrolling
{
    pointer-events: none;
}
.ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.ps-theme-dark:hover > .ps-scrollbar-x-rail,
.ps-theme-dark:hover > .ps-scrollbar-y-rail
{
    opacity: .6;
}
.ps-theme-dark:hover > .ps-scrollbar-x-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.ps-theme-dark:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.ps-theme-dark:hover > .ps-scrollbar-y-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.ps-theme-dark:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}

.ps-theme-light
{
    overflow: hidden !important;

    -ms-touch-action: none;
        touch-action: none;
    -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none)
{
    .ps-theme-light
    {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .ps-theme-light
    {
        overflow: auto !important;
    }
}
.ps-theme-light.ps-active-x > .ps-scrollbar-x-rail,
.ps-theme-light.ps-active-y > .ps-scrollbar-y-rail
{
    display: block;

    background-color: transperant;
}
.ps-theme-light.ps-in-scrolling
{
    pointer-events: none;
}
.ps-theme-light.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(255, 255, 255, .2);
}
.ps-theme-light.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(255, 255, 255, .8);
}
.ps-theme-light.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(255, 255, 255, .2);
}
.ps-theme-light.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(255, 255, 255, .8);
}
.ps-theme-light > .ps-scrollbar-x-rail
{
    position: absolute;
    bottom: 3px;

    display: none;
    /* there must be 'bottom' for ps-scrollbar-x-rail */

    height: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.ps-theme-light > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    position: absolute;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */

    height: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(255, 255, 255, .5);
}
.ps-theme-light > .ps-scrollbar-y-rail
{
    position: absolute;
    left: 0;

    display: none;
    /* there must be 'right' for ps-scrollbar-y-rail */

    width: 6px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.ps-theme-light > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    position: absolute;
    left: 0;
    /* there must be 'right' for ps-scrollbar-y */

    width: 6px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(255, 255, 255, .5);
}
.ps-theme-light:hover.ps-in-scrolling
{
    pointer-events: none;
}
.ps-theme-light:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(255, 255, 255, .2);
}
.ps-theme-light:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(255, 255, 255, .8);
}
.ps-theme-light:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(255, 255, 255, .2);
}
.ps-theme-light:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(255, 255, 255, .8);
}
.ps-theme-light:hover > .ps-scrollbar-x-rail,
.ps-theme-light:hover > .ps-scrollbar-y-rail
{
    opacity: .6;
}
.ps-theme-light:hover > .ps-scrollbar-x-rail:hover
{
    opacity: .9; 
    background-color: rgba(255, 255, 255, .2);
}
.ps-theme-light:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
{
    background-color: rgba(255, 255, 255, .8);
}
.ps-theme-light:hover > .ps-scrollbar-y-rail:hover
{
    opacity: .9; 
    background-color: rgba(255, 255, 255, .2);
}
.ps-theme-light:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
{
    background-color: rgba(255, 255, 255, .8);
}

.menu-collapsed .ps-theme-dark
{
    overflow: hidden !important;

    -ms-touch-action: none;
        touch-action: none;
    -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none)
{
    .menu-collapsed .ps-theme-dark
    {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .menu-collapsed .ps-theme-dark
    {
        overflow: auto !important;
    }
}
.menu-collapsed .ps-theme-dark.ps-active-x > .ps-scrollbar-x-rail,
.menu-collapsed .ps-theme-dark.ps-active-y > .ps-scrollbar-y-rail
{
    display: block;

    background-color: transparent;
}
.menu-collapsed .ps-theme-dark.ps-in-scrolling
{
    pointer-events: none;
}
.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: #eee;
}
.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: #999;
}
.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: #eee;
}
.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: #999;
}
.menu-collapsed .ps-theme-dark > .ps-scrollbar-x-rail
{
    position: absolute;
    bottom: 3px;

    display: none;
    /* there must be 'bottom' for ps-scrollbar-x-rail */

    height: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.menu-collapsed .ps-theme-dark > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    position: absolute;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */

    height: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: #55595c !important;
}
.menu-collapsed .ps-theme-dark > .ps-scrollbar-y-rail
{
    position: absolute;
    left: 0;

    display: none;
    /* there must be 'right' for ps-scrollbar-y-rail */

    width: 6px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.menu-collapsed .ps-theme-dark > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    position: absolute;
    left: 0;
    /* there must be 'right' for ps-scrollbar-y */

    width: 6px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: #55595c !important;
}
.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling
{
    pointer-events: none;
}
.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: #eee;
}
.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: #999;
}
.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: #eee;
}
.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: #999;
}
.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-x-rail,
.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-y-rail
{
    opacity: 0;
}
.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-x-rail:hover
{
    opacity: .9; 
    background-color: #eee;
}
.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
{
    background-color: #999;
}
.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-y-rail:hover
{
    opacity: .9; 
    background-color: #eee;
}
.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
{
    background-color: #999;
}

.menu-collapsed ul.ps-theme-dark
{
    overflow: hidden !important;

    -ms-touch-action: none;
        touch-action: none;
    -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none)
{
    .menu-collapsed ul.ps-theme-dark
    {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .menu-collapsed ul.ps-theme-dark
    {
        overflow: auto !important;
    }
}
.menu-collapsed ul.ps-theme-dark.ps-active-x > .ps-scrollbar-x-rail,
.menu-collapsed ul.ps-theme-dark.ps-active-y > .ps-scrollbar-y-rail
{
    display: block;

    background-color: transperant;
}
.menu-collapsed ul.ps-theme-dark.ps-in-scrolling
{
    pointer-events: none;
}
.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-x-rail
{
    position: absolute;
    bottom: 3px;

    display: none;
    /* there must be 'bottom' for ps-scrollbar-x-rail */

    height: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    position: absolute;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */

    height: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-y-rail
{
    position: absolute;
    left: 0;

    display: none;
    /* there must be 'right' for ps-scrollbar-y-rail */

    width: 6px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    position: absolute;
    left: 0;
    /* there must be 'right' for ps-scrollbar-y */

    width: 6px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling
{
    pointer-events: none;
}
.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-x-rail,
.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-y-rail
{
    opacity: .6;
}
.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-x-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-y-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}

.vertical-menu-modern.menu-collapsed .ps-theme-dark
{
    overflow: hidden !important;

    -ms-touch-action: none;
        touch-action: none;
    -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none)
{
    .vertical-menu-modern.menu-collapsed .ps-theme-dark
    {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .vertical-menu-modern.menu-collapsed .ps-theme-dark
    {
        overflow: auto !important;
    }
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark.ps-active-x > .ps-scrollbar-x-rail,
.vertical-menu-modern.menu-collapsed .ps-theme-dark.ps-active-y > .ps-scrollbar-y-rail
{
    display: block;

    background-color: transperant;
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark.ps-in-scrolling
{
    pointer-events: none;
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark > .ps-scrollbar-x-rail
{
    position: absolute;
    bottom: 3px;

    display: none;
    /* there must be 'bottom' for ps-scrollbar-x-rail */

    height: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    position: absolute;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */

    height: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark > .ps-scrollbar-y-rail
{
    position: absolute;
    left: 0;

    display: none;
    /* there must be 'right' for ps-scrollbar-y-rail */

    width: 6px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    position: absolute;
    left: 0;
    /* there must be 'right' for ps-scrollbar-y */

    width: 6px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling
{
    pointer-events: none;
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-x-rail,
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-y-rail
{
    opacity: .6;
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-x-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-y-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed .ps-theme-dark:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}

.vertical-menu-modern.menu-collapsed ul.ps-theme-dark
{
    overflow: hidden !important;

    -ms-touch-action: none;
        touch-action: none;
    -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none)
{
    .vertical-menu-modern.menu-collapsed ul.ps-theme-dark
    {
        overflow: auto !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .vertical-menu-modern.menu-collapsed ul.ps-theme-dark
    {
        overflow: auto !important;
    }
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark.ps-active-x > .ps-scrollbar-x-rail,
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark.ps-active-y > .ps-scrollbar-y-rail
{
    display: block;

    background-color: transperant;
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark.ps-in-scrolling
{
    pointer-events: none;
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-x-rail
{
    position: absolute;
    bottom: 3px;

    display: none;
    /* there must be 'bottom' for ps-scrollbar-x-rail */

    height: 8px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    position: absolute;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */

    height: 8px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-y-rail
{
    position: absolute;
    left: 0;

    display: none;
    /* there must be 'right' for ps-scrollbar-y-rail */

    width: 6px; 

    -webkit-transition: background-color .2s linear, opacity .2s linear;
       -moz-transition: background-color .2s linear, opacity .2s linear;
         -o-transition: background-color .2s linear, opacity .2s linear;
            transition: background-color .2s linear, opacity .2s linear;

    opacity: 0;
    /* please don't change 'position' */
    border-radius: 4px;
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    position: absolute;
    left: 0;
    /* there must be 'right' for ps-scrollbar-y */

    width: 6px; 

    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
         -o-transition: background-color .2s linear;
            transition: background-color .2s linear;

    border-radius: 4px;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, .2);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling
{
    pointer-events: none;
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-x-rail,
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-y-rail
{
    opacity: .6;
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-x-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x
{
    background-color: rgba(0, 0, 0, .4);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-y-rail:hover
{
    opacity: .9; 
    background-color: rgba(0, 0, 0, .1);
}
.vertical-menu-modern.menu-collapsed ul.ps-theme-dark:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y
{
    background-color: rgba(0, 0, 0, .4);
}

/* to make scrollbars always visible */
.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail
{
    opacity: .6;
}

.large-margin.ps-container > .ps-scrollbar-x-rail
{
    margin: 0 25%;
}

.large-margin.ps-container > .ps-scrollbar-y-rail
{
    margin: 100px 0;
}

@media screen and (min-width: 0)
{
    head
    {
        font-family: 'xs 0px';
    }
    body:after
    {
        content: 'xs - min-width: 0px';
    }
}

@media screen and (min-width: 544px)
{
    head
    {
        font-family: 'sm 544px';
    }
    body:after
    {
        content: 'sm - min-width: 544px';
    }
}

@media screen and (min-width: 768px)
{
    head
    {
        font-family: 'md 768px';
    }
    body:after
    {
        content: 'md - min-width: 768px';
    }
}

@media screen and (min-width: 992px)
{
    head
    {
        font-family: 'lg 992px';
    }
    body:after
    {
        content: 'lg - min-width: 992px';
    }
}

@media screen and (min-width: 1200px)
{
    head
    {
        font-family: 'xl 1200px';
    }
    body:after
    {
        content: 'xl - min-width: 1200px';
    }
}

head
{
    clear: both;
}
head title
{
    font-family: 'xs 0px, sm 544px, md 768px, lg 992px, xl 1200px';
}

body:after
{
    display: none;
}

*[data-usn-if]
{
    display: none;
}
